.group-overview-container {
    display: grid;
    grid-gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    justify-items: center;
    align-items: start;
    grid-template-columns: repeat(5, minmax(250px, 1fr));
    grid-template-rows: 100px repeat(3, minmax(450px, 27%));
    grid-template-areas:
    "a a a a a"
    "b b c d e"
    "f g h i j"
    "k l m n o";
}

.group-name-container {
    display: flex;
    width: 75%;
    height: 90px;
    align-self: center;
    position: relative;
    background: #C5C3BF;
    border-radius: 20px;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    grid-area: a;
    overflow: hidden;
}

.group-name-container .add-button {
    position: static;
}

.group-name-title {
    color: #302F2F;
    white-space: nowrap;
    width: 100%;
    font-size: clamp(12px, 6.5vw, 40px);
    font-weight: 500;
    letter-spacing: 2px;
}

.group-member-container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s;
    transform-origin: top left;
}

.group-member-container:nth-child(even) .profile-info-tile {
    background: #848484;
}

.group-member-container .user-profile-tile {
    min-height: 450px;
    flex: 0;
}

/*changes the font size for the group page tiles*/
.group-member-container .info-p {
    font-size: clamp(12px, 1.2vw, 14px);
    letter-spacing: 2px;
    padding: 0;
}

.group-member-container .profile-clock-wrapper {
    height: 10%;
}

.group-member-container .profile-clock-wrapper .profile-clock {
    font-size: clamp(14px, 2.5vw, 24px);
}

/*media query for mobile devices*/
@media screen and (max-width: 1675px) {

    .group-overview-container {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        grid-template-rows: 100px repeat(4, minmax(450px, 1fr));
        grid-template-areas:
        "a a a"
        "b b c"
        "d e f"
        "g h i"
        "j k l";


    }
}

@media screen and (max-width: 860px) {

    .group-overview-container{
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-template-rows: 100px 200px repeat(5, minmax(400px, 1fr));
        grid-template-areas:
        "a a"
        "b b"
        "c d"
        "e f"
        "g h"
        "i j"
        "k l";
    }

    .group-name-container {
        width: 100%;
    }
    /*handles flipping the colours of the tiles when there are only two columns*/
    .group-member-container:nth-child(4n+1) .profile-info-tile,
    .group-member-container:nth-child(4n+4) .profile-info-tile {
        background: #848484;
    }

    .group-member-container:nth-child(4n+2) .profile-info-tile,
    .group-member-container:nth-child(4n+3) .profile-info-tile {
        background: #C5C3BF;
    }
}


@media screen and (max-width: 600px) {

    .group-overview-container{
        grid-template-columns: repeat(1, minmax(250px, 1fr));
        grid-template-rows: 120px 135px repeat(11, minmax(400px, 1fr));
        grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i"
        "j"
        "k"
        "l";
    }

    .group-name-container {
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main-group-clock-tile {
        height: 100%;
        align-self: center;
    }

    /*flips it back to the original colours*/
    .group-member-container:nth-child(even) .profile-info-tile {
        background: #848484;
    }

    .group-member-container:nth-child(odd) .profile-info-tile {
        background: #C5C3BF;
    }

}
