.digital-clock {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.display {
    display: flex;
    justify-content: center;
}

.hour-display {
    display: inline-block;
}

.minutes-display {
    display: inline-block;
}

.seconds-display {
    display: inline-block;
    color: #F2C300;
}
