.clock-setting-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 90%;
    background-color: #302F2F;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 100;
}

.clock-setting-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 0.5rem;
}

.toggle-button {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background-color: #848484;
    cursor: pointer;
}

.slider {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.4s;
}

.toggle-button.on .slider {
    transform: translateX(82px);
    background-color: #f2c300;
}

.label {
    font-size: 14px;
    font-weight: bold;
    color: #302F2F;
    z-index: 1;
}