.search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-bar-input {
    width: 302px;
    height: 44px;
    border-radius: 50px 0 0 50px;
    background: #F3F3F3;
    font-size: 18px;
    padding: 0 20px;
    font-family: Roboto, sans-serif;
    border: transparent;

}

.search-button {
    position: absolute;
    height: 44px;
    padding: 10px 20px;
    align-items: flex-start;
    border-radius: 0 50px 50px 0;
    background: #F2C300;
    border: transparent;
}

