.nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    background: #302F2F;
    min-width: 100%;
    height: 150px;
    list-style: none;
    align-items: center;
    padding: 0 48px;
    flex-shrink: 0;
}

.site-name-wrapper {
    display: flex;
    width: 322px;
    height: 86px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.site-name {
    color: #F2C300;
    width: 300px;
    height: 115px;
    /* Site name text styling */;
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    gap: 2.5rem;
    align-items: baseline;

}

.nav-link {
    color: #FFF;
    /* Nav bar text */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-decoration: none;
}