.add-modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-radius: 4px;
}

.button-input-container {
    display: flex;
    flex-direction: row;
}

.add-modal-label {
    font-style: italic;
    color: white;
    margin-bottom: 0.5rem;
}

.add-modal-input {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    height: 45px;
    border-radius: 50px 0 0 50px;
    border: 1px solid transparent;
    width: clamp(100px, 75%, 250px);
}

.add-modal-submit-button {
    display: inline-block;
    padding: 0.25rem;
    height: 45px;
    border-radius: 0 50px 50px 0;
    border: 1px solid transparent;
    width: clamp(30px, 25%, 150px);
    background: #f2c300;
    font-weight: 600;
    cursor: pointer;
}

.add-modal-submit-button:hover {
    background: #DBA800;
}