/*Typography*/

.error-message {
    color: red;
    font-size: clamp(16px, 40%, 22px);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    align-self: center;
}

.loading-message {
    font-size: clamp(16px, 25%, 40px);
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}


/*Layout*/

.outer-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}