.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 48px 0;
}

.auth-tile {
    display: inline-flex;
    width: 45%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    background: #848484;
    padding: 2.5rem;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.25);
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
    gap: 2rem;
}

.auth-tile-title {
    color: #FFF;
    text-align: center;
    font-size: clamp(16px, 5vw, 48px);
    font-weight: 400;
    letter-spacing: 5px;
}

.input-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.auth-labels {
    color: #FFF;
    text-align: center;
    font-size: clamp(10px, 3vw, 24px);
    letter-spacing: 2px;

}

.auth-inputs {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 20px;
    background: white;
    width: 65%;
    border: 1px solid transparent;
    height: 60px;
    flex-shrink: 0;
    font-size: clamp(10px, 3vw, 24px);
}

.auth-buttons-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.auth-form-button {
    display: flex;
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #302F2F;
    text-align: center;
    font-size: clamp(10px, 3vw, 24px);
    letter-spacing: 2px;
    border-radius: 20px;
    background: #F2C300;
    border: transparent;
    margin-bottom: 1rem;
}

.auth-form-button:hover {
    background: #e0e0e0;
}

.switch-to-opposite-link {
    color: #FFF;
    text-align: center;
    /* Nav bar text */
    font-size: clamp(10px, 2vw, 20px);
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
}

.switch-to-opposite-link:hover {
    color: #e0e0e0;
}

.auth-container .error-message {
    font-size: clamp(10px, 2vw, 20px);
    font-weight: 400;
    letter-spacing: 2px;
}

/*media query for mobile devices*/
@media screen and (max-width: 1026px) {

    .auth-tile {
        width: 75%;
    }

    .auth-form {
        gap: 0.5rem;
    }

    .auth-inputs {
        width: 80%;
        border-radius: 10px;
        height: 55px;
    }

}

@media screen and (max-width: 600px) {

    .auth-container {
        padding: 20px 0;
    }

    .auth-tile {
        width: 90%;
        padding: 1rem 0.5rem;
    }

    .auth-form {
        gap: 0.25rem;
        padding: 1rem 0.25rem;
    }

    .auth-inputs {
        width: 80%;
        border-radius: 10px;
        height: 45px;
    }

}